@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background: linear-gradient(
    90deg,
    rgb(109, 168, 148) 0%,
    rgb(144, 144, 177) 35%,
    rgb(68, 101, 89) 100%
  );
  color: rgb(19, 19, 19);
}

.container {
  background-image: url("/assets/fondoIMC.jpg");
  margin: 1rem auto;
  border-radius: 1rem;
  max-width: 600px;
  height: 400px;
}

.card__title {
  font-size: 2rem;
  padding: 1rem;
  color: rgb(23, 63, 52);
}

.input {
  margin: 1rem;
}

.label__data {
  font-size: 1.2rem;
  font-weight: 400;
}

.input__data {
  padding: 4px;
  outline: none;
  font-size: 15px;
  border-radius: 5px;
  border: 1px solid rgb(173, 173, 175);
  color: rgb(23, 63, 52);
  margin-left: 1rem;
}

.btn__input {
  background-color: rgba(39, 83, 66, 0.591);
  color: white;
  border: none;
  padding: 0.35rem;
  width: 30%;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 6rem;
  margin-top: 0.8rem;
}

.card__subtitle {
  padding-top: 1rem;
  margin-top: 1rem;
  margin-left: 1rem;
  color: rgb(153, 64, 64);
}

.parrafo__imc {
  margin-left: 1rem;
  font-weight: 300;
}

.result__imc {
  margin-left: 1rem;
}
